<style>
  .btn{
      border:2px solid transparent;
      width: 40%;
      padding:15px 22px;
      background: #000;
      border-radius:5px;
      margin-top:10px;
  }
  .btn a{
      color: #fff;
      text-decoration: none;
      font-size:1em;
      font-weight:bold;
      text-transform: uppercase;
  }
  .btn a:hover{
      border:2px solid #1ebba3;
      cursor: pointer;
  }
  .bring-down{
      margin-top:110px;
  }
  .make-bold{
    font-weight:bold;

  }
</style>

<div id="about" class="mt-4 pb-5 container-fluid">
    <div class="post-heading text-center">
        <h3 class="display-4 font-weight-bold bring-down">About Me</h3>
        <hr class="w-50 mx-auto pb-5">
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <img src="assets/images/pic1.jpeg" class="img-fluid ml-3 mt-4">
        </div>

        <div class="col-lg-6 col-md-6 col-12 mt-4">
            <h2>Wanna know me?</h2>
            <hr>
            <p class="make-bold">My name is Abdelrahman 21, I'm a Senior student at Computers & Information Technology - Information System Department. This is my portfolio
                I can help you with anything related to Web Design and Mobile development. Kindly check my work tab to see all my projects related to the Web and Mobile development
                Stuff.
            </p>
         
            <button class="btn w-50">
                <a href="#">Contact Me</a>
            </button>
        </div>
    </div>

    
     

</div>
