<style>
     .bring-down{
      margin-top:110px;
     }
     .card{
         margin-left:25%;
    }
</style>

<div class="post-heading text-center">
    <h3 class="display-4 font-weight-bold bring-down">Skills</h3>
    <hr class="w-50 mx-auto pb-5">
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/service1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mobile Development</h5>
              <p class="card-text">using Java/Kotlin and use another features such as Room,Retrofit,APIs</p>
              <a href="#" class="btn btn-dark">Preview</a>
            </div>
          </div>
      
                  
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/service2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">using HTML/CSS/JS and Angular, etc..</p>
              <a href="#" class="btn btn-dark">Preview</a>
            </div>
          </div>
      
                  
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/service3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">UI Design</h5>
              <p class="card-text">using prototype tools, etc..</p>
              <a href="#" class="btn btn-dark">Preview</a>
            </div>
          </div>
          
                  
    </div>
    
</div>