<style>
   
   .img-fluid{
        width:100%;
        height:100%;
    }
    .heading-content{
        position: absolute;
        top:40%; 
        width:100%;
        max-width:100%;
    }
    .heading-content h5{
        font-size:3em;
        font-weight:300;
        color:#fff;
        font-family: monospace;
    }
    .heading-content h1{
        font-size:4em;
        font-weight:bolder;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
    }
    .heading-content p{
        font-size:1em;
        text-transform: uppercase;
        font-weight:lighter;
        color:#ccc;
        word-spacing: 5px;
        letter-spacing:1px;
        font-family: 'Montserrat', sans-serif;
    }
</style>

<div>
    <img src="assets/images/pic1.jpeg" class="img-fluid">
  
</div>
<div class="heading-content text-center">
    <h5>Welcome, my Name is</h5>
    <h1>Abdelrahman Halawa</h1>
    <p>and This is my portfolio</p>
</div>
