<style>
    .bring-down{
     margin-top:110px;
 }
 .card{
         margin-left:130%;
    }
</style>

<div class="post-heading text-center">
   <h3 class="display-4 font-weight-bold bring-down">My Work</h3>
   <hr class="w-50 mx-auto pb-5">
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/backery.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Backery</h5>
              <p class="card-text">A backery website developed in 2019</p>
              <a href="#" class="btn btn-dark">Preview</a>
            </div>
          </div>
      
</div>
